<template name="forgot_password">

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Easy</b>Pharma</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg" id="helper_text">Enter email address to request password reset</p>

            <form>
                <div class="form-group has-feedback" id="email_div">
                    <input type="email" class="form-control" placeholder="Email" name="signInEmail" id="signInEmail"
                           required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <a href="#" id="back_to_sign_in">Go back to sign in</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="submit">Request</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

</template>