<template name="update_medicine">

    <!-- general form elements -->
    <div class="box {{#if update_medicine_green}}box-success{{/if}}{{#if update_medicine_yellow}}box-warning{{/if}}{{#if
            update_medicine_blue}}box-info{{/if}}">
        <div class="box-header with-border">
            <h3 class="box-title">Update</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group-sm">
                    <button id="update_medicine_green_btn" type="button"
                            class="btn btn-success {{#if update_medicine_green}}active{{/if}}">G
                    </button>
                    <button id="update_medicine_yellow_btn" type="button"
                            class="btn btn-warning {{#if update_medicine_yellow}}active{{/if}}">Y
                    </button>
                    <button id="update_medicine_blue_btn" type="button"
                            class="btn btn-info {{#if update_medicine_blue}}active{{/if}}">B
                    </button>
                    {{#if stock_medicine}}
                        <div class="btn-group" data-toggle="btn-toggle">
                            <button id="enable" type="button"
                                    class="btn btn-default btn-sm {{#if stock_medicine.active}}active{{/if}}">
                                <i class="fa fa-square text-green"></i>
                            </button>
                            <button id="disable" type="button"
                                    class="btn btn-default btn-sm {{#unless stock_medicine.active}}active{{/unless}}">
                                <i class="fa fa-square text-red"></i></button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputGeneralName">General Name</label>
                    <input id="inputGeneralName" type="text" class="form-control" value="{{medicine.general_name}}"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="inputScientificName">Scientific Name</label>
                    <input id="inputScientificName" type="text" class="form-control"
                           value="{{medicine.scientific_name}}" readonly>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="inputUnitName">Unit Name</label>
                            <input id="inputUnitName" type="text" class="form-control" value="{{medicine.unit_name}}"
                                   readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class=" form-group">
                            <label for="inputSellingPrice">Selling Price</label>
                            <input type="number" class="form-control" id="inputSellingPrice"
                                   placeholder="Unit price" name="inputSellingPrice"
                                   value="{{stock_medicine.selling_price}}" step=".01" min="0"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="inputQuantity">Quantity</label>
                            <input id="inputQuantity" type="text" class="form-control"
                                   value="{{#if stock_medicine}}{{stock_medicine.quantity}}{{else}}0{{/if}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class=" form-group">
                            <label for="inputAlertLevel">Alert Level</label>
                            <input type="number" class="form-control" id="inputAlertLevel"
                                   placeholder="Alert Level" name="inputAlertLevel"
                                   value="{{stock_medicine.alert_level}}" min="0" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="inputIntakeQuantity">Intake Quantity</label>
                            <input type="number" class="form-control" id="inputIntakeQuantity"
                                   placeholder="Intake quantity" name="inputIntakeQuantity" value="0" min="0" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class=" form-group">
                            <label for="inputAmountPaid">Amount Paid</label>
                            <input type="number" class="form-control" id="inputAmountPaid"
                                   placeholder="Total paid"
                                   name="inputAmountPaid" value="0" step=".01" min="0"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="inputReturnedQuantity">Returned Quantity</label>
                            <input type="number" class="form-control" id="inputReturnedQuantity"
                                   placeholder="Returned quantity" name="inputReturnedQuantity" value="0" min="0"
                                   required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class=" form-group">
                            <label for="inputAmountReceived">Amount Received</label>
                            <input type="number" class="form-control" id="inputAmountReceived"
                                   placeholder="Total received"
                                   name="inputAmountReceived" value="0" step=".01" min="0"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button id="submit" type="submit"
                                class="btn {{#if update_medicine_green}}btn-success{{/if}} {{#if
                                        update_medicine_yellow}}btn-warning{{/if}} {{#if
                                        update_medicine_blue}}btn-info{{/if}} btn-block">Update
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button id="cancel_btn" type="button" class="btn btn-default btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->

</template>